<% render('layouts/errors', :object => @comment) %>

<%= form_for [@post, @comment] do |f| %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <p><%= f.submit %></p>
<% end %>
